.mainTit{
    color: #fff;
    font-size: 50px;
    position: relative;
}

.mainTit::after{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
}


p{
    color: #ccc;
    font-size: 25px;
}

.spanCEO{
    color: #cb6ce6;
}

.logo{
    color: #fff;
}

.CEOS{
    display: flex;
    justify-content: space-evenly;
}

.ceo{
    border: #cb6ce6 solid 1px;
    width: 400px;
    height: 525px;
    margin-top: 50px;
    margin-right: 50px;
}

.ceo .pfp{
    width: 200px;
    height: 200px;
    position: relative;
    left: 25%;
    top: 5%;
    border-radius: 50%;
}

.ceo h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 4%;
}

.ceo h1::after{
    content:'';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: var(--white);
}

.ceo p{
    position: relative;
    top: 5%;
    padding: 5px;
    text-align: center;
}

.ceo .medias{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100%;
    padding: 30px 10px 10px;
    gap: 0.3rem;
}

.ceo .each{
    gap: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ceo .each a{
    color: var(--nav-text);
    text-decoration: none;
}

.ceo .each a:hover{
    color: var(--secondary);
}