.footer-con{
      margin: auto;
      background-color: darkgray;
      width:100%;
      position: fixed;
      bottom:0; 
  }
  
  /* Colocar todos os elementos do footer em linha */
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  
  /* Remover o estilo da lista */
  ul{
      list-style: none;
  }
  
  .footer{
      padding: 70px 0;
      background-color: #24262b;
      
  }
  
  /* Espaçamento entre colunas */
  .footer-col{
      width: 20%;
      padding: 0 15px;
  }
  
  /* Formatação dos titulos e espaçamento dos titulos na vertical */
  .footer-col h4{
      font-size: 18px;
     text-transform: capitalize;
     margin-bottom: 30px;
     position: relative;
  }
  /* Linha por baixo do titulo */
  .footer-col h4:before{
     content:'';
     position: absolute;
     left: 0;
     bottom: -10px;
     background-color: purple;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
  }
  
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  
  .footer-col ul li a {
      font-size: 16px;
      text-transform: capitalize;
      text-decoration: none;
      display: block;
      transition: all 0.3s ease;
  
  }
  
  .footer-col ul li a:hover{
      color: purple;
      padding-left: 8px;
  }
  
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255, 255, 255, 0.2);
      margin: 0 8px 8px 0;
      text-align: center;
      line-height: 40px;
      transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }
  
  /* Responsive */
  
  @media(max-width: 767px){
    .footer-con{
        position: unset;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
  }
  
  @media(max-width: 574px){
    .footer-con{
        position: unset;
    }
      .footer-col{
          width: 100%;
      }
      
  }