main{
    width: calc(100% - 19rem);
    margin-left: 19rem;
}

section{
    padding: 2rem;
}

#tend{
    background: url() center/cover no-repeat;
    height: 70lvh;
    display: flex;
    align-items: center;
}

#tend div{
    width: 600px;
    max-width: 80%;
}

#tend div h1{
    font-size: 40px;
    color: var(--white);
    text-shadow: 0 0 3px #cb6ce6, 0 0 5px #cb6ce6;
}

nav ul li a:active{
    color: var(--secondary);
}

.button {
    text-decoration: none;
    border: 1px solid var(--secondary);
    border-radius: 2px;
    margin: 1rem 0;
    padding: 0.6rem 0.6rem;
    white-space: nowrap;
    background-color: #202124ac;
    backdrop-filter: blur(2px);
    color: var(--white);
    cursor: pointer;

}

.button:hover{
    background-color: var(--secondary);
}

.button:active {
    background-color: #a857bf;
    border: 1px solid #a857bf;
}

.button:visited{
    color: var(--white);
}

#tend div p{
    color: var(--white);
    font-size: 20px;
    background-color: #202124ac;
    backdrop-filter: blur(2px);
    padding: 0.5rem;
    border: #cb6ce6 solid 1px;
    border-radius: 2px;
}

#moviesSec div div{
    display: flex;
}

#moviesSec div h1{
    margin: 20px;
    font-size: 40px;
    color: var(--white);
}

#moviesSec div div img{
    margin: 5px;
    width: 175px;
    height: 250px;
}

.genre-container {
    margin-bottom: 20px;
}

.movie-list {
    display: flex;
    overflow-x: auto;
    gap: 10px; 
}

.movie-list::-webkit-scrollbar {
    display: none; 
}

.movie-list img {
    width: 160px; 
    height: auto;
    flex: 0 0 auto;
    cursor: pointer;
}

.movie-list img:hover{
    box-shadow: 0 0 2px var(--secondary),
    0 0 10px var(--secondary);
}

.genre-title {
    font-size: 24px; 
    color: #ffffff;
    margin-bottom: 10px;
}


.second-letter {
    color: #cb6ce6;
}

@media screen and (max-width: 1024px){
    main{
        width: 100%;
        margin-left: 0rem;
    }

    section{
        width: calc(100% - 4rem);
    }

    #tend div{
        position: absolute;
        top: 35%;
        left: 10%;
    }
}

@media screen and (max-width: 767px){
    #tend div p{
        display: none;
    }
}