@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

main{
    width: calc(100% - 19rem);
    min-height: 100lvh;
    margin-left: 19rem;
    background-color: var(--primary);
}

section{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.spanMovie{
    color: #cb6ce6;
}

#pager-top{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pager-top::after{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
}

h1{
    color: #fff;
    font-size: 50px;
}

#search-user{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#search-form{
    position: relative;
    display: flex;
    align-items: center;
}

#search{
    width: 20rem;
    height: 2rem;
    padding-left: 2rem;
    color: var(--nav-text);
    font-size: 1rem;
    outline: none;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

#search::placeholder{
    color: var(--nav-text);
}

#magnify{
    position: absolute;
    left: 1%;
    width: 1.6rem;
    height: 1.6rem;
}

#user{
    width: 2rem;
    height: 2rem;
    background: url('../ASSETS/CEOS/avatar.png') center/contain no-repeat;
}

#filtros{
    width: calc(100% - 2.2rem);
    height: 6rem;
    padding: 1rem;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

h2{
    color: var(--nav-text);
    font-size: 2rem;
}

#filters-form{
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns:
        repeat(7, 1fr);
}

select{
    grid-column: span 2;
    height: 2rem;
    outline: none;
    color: var(--nav-text);
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

button{
    color: var(--nav-text);
    font-size: 1.3rem;
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
}

button:hover{
    transform: scale(1);
}

#movies{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border: 1px solid var(--secondary);
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    background-color: #22254b;
    outline: none;
}

#movies {
    display: flex;
    flex-wrap: wrap;
}

#movie a{
    text-decoration: none;
    color: inherit;
    display: block;
}

.movie{
    background-color: var(--primary);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 245px;
    text-decoration: none;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

#btnsNPMovies button{
    padding: 15px;
    color: var(--primary);
    border: #000 solid 1px;
}

#btnsNPMovies span{
    color: #fff;
    margin: 20px;
}

#btnsNPMovies{
    align-self: center;
    left: 10%;
}