
header{
    position: fixed;
    width: 15rem;
    height: calc(100% - 4rem);
    padding: 2rem;
    background-color: var(--primary);
    border-right: 1px solid var(--nav-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 100%;
}

nav{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    gap: .8rem;
    flex-direction: column;
}

nav::-webkit-scrollbar{
    width: 10px;
}

nav::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 25px;
}
  
nav::-webkit-scrollbar-track{
    background-color: var(--primary);
}
  

nav h3{
    position: relative;
    color: var(--white);
    margin: 2rem 0rem 1.5rem 0rem;
}

nav h3::after{
    content:'';
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
}

ul{
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
}

ul li{
    list-style: none;
    font-size: 1.1rem;
    margin: 0rem;
}

ul li a{
    color: var(--nav-text);
    text-decoration: none;
    display: flex;
    gap: .8rem;
    align-items: center;
}

ul li a:hover{
    color: var(--secondary);
}

#ceos{
    list-style: none;
    font-size: 1.1rem;
    margin: 1rem 0rem;
}

#ceos a{
    color: var(--nav-text);
    text-decoration: none;
    display: flex;
    gap: .8rem;
    align-items: center;
}

#ceos a:hover{
    color: var(--secondary);
}