main{
    background-color: var(--primary);
}

section{
    min-height: calc(100lvh - 4rem);
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.span{
    color: #cb6ce6;
}

h1{
    color: #fff;
    font-size: 50px;
    position: relative;
}

h1::after{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
}