/* The Styling section. Here we define the variables. */
:root{
    --primary: #202124;
    --secondary: #cb6ce6;
    --third: #E4D9FF;
    --nav-text: #CCCCCC;
    --white: #fff;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(69, 69, 69);
    border-radius: 25px;
}
  
::-webkit-scrollbar-track{
    background-color: var(--primary);
}

/*

*, *::before, *::after {
  box-sizing: border-box;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context

#root, #__next {
  isolation: isolate;
}
*/

