html{
    height: 100%;
}

body{
    min-height: 100vh;
}

/* Cor das letras na página toda e centralização na página */
main{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Cor do parágrafo e espaçamento do título. */
.sec-text-big{
    color: var(--nav-text);
    margin-top:1.5em;
    font-size: 1.2em;
}
/* Cor, tamanho e tipo de posição do título. */
h1{
    color: #fff;
    font-size: 50px;
    position: relative;
}
/* Definir a linha em baixo do título. */
h1::after{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
}

/* Estilizar letras com uma cor diferente do padrão definido*/
span{
    color: #cb6ce6;
}

.premium-list{
    display: flex;
    gap: 0rem;
}

.premium-list li{
    list-style: disc;
    margin-left: 1rem;
}

.price{
    font-size: 20px;
    margin-top: 8px;
    margin-right: 15px;
    color: var(--white);
}
.price-month{
   font-size: 10px;
   margin: 0;

}

.top_container h3{
    font-size: 2em;
}
.top_container{
    display: flex;
    justify-content: space-between;

}

/* Definir os containeres como colunas e definir os limites de espaçamento. */
.containers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    flex-wrap: wrap;
    margin-top: 4%;
    width: 100%;
    min-height: 20rem;
    gap: 2rem;
    
    
}

/* Estilização dos containers */
.containers .card{
    height: calc(100% - 2rem);
    padding: 1rem;
    background-color: var(--primary);
    box-shadow: 0 0 10px 2px var(--white);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containers .card:hover{
    box-shadow: 0 0 10px 2px var(--secondary);
}


.button-card {
    text-decoration: none;
    border: 1px solid var(--white);
    border-radius: 2px;
    margin: 1rem 0;
    padding: 1rem 1rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.button-card:hover{
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    box-shadow: 0 0 2px 1px var(--secondary);
}

.button-card:active {
    background-color: #a857bf;
    border: 1px solid #a857bf;
}

.button-card:visited{
    color: var(--white);
}
