.containers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    flex-wrap: wrap;
    margin-top: 4%;
    width: 100%;
    min-height: 20rem;
    gap: 2rem;
    
}



/* Estilização do Container 'Duo' o container do do meio */
.unique {
    height: calc(100% - 2rem);
    padding: 1rem;
    background-color: var(--primary);
    /* box-shadow: 0 0 10px 2px var(--secondary); */
}



/* .button-after{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .button:active{
    color: #cb6ce6;
}

.button-mid-after{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .button-mid-after:active{
    color: var(--white);
} */

.button-mid {
    box-shadow: 0 0 5px var(--white),
    0 0 25px var(--white);
    text-decoration: none;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    box-shadow: 0 0 5px var(--secondary),
    0 0 25px var(--secondary), 0 0 50px var(--secondary),
    0 0 100px var(--secondary), 0 0 200px var(--secondary);
}

.button-mid:hover {
    box-shadow: 0 0 5px var(--white),
    0 0 25px var(--white), 0 0 50px var(--white),
    0 0 100px var(--white), 0 0 200px var(--white);
    background-color: var(--white);
}

.button:active {
    box-shadow: 0 0 5px var(--white),
    0 0 25px var(--white), 0 0 50px var(--white),
    0 0 100px var(--white), 0 0 200px var(--white);
    background-color: var(--white);
}

.button-mid:active{
    box-shadow: 0 0 5px var(--secondary),
    0 0 25px var(--secondary), 0 0 50px var(--secondary),
    0 0 100px var(--secondary), 0 0 200px var(--secondary);
    background-color: var(--secondary);
}

.button:visited {
    color: var(--white);
}

.button-mid:visited {
    color: var(--secondary);
}

.unique:hover {
    box-shadow: 0 0 5px red;
}

*********************
.button:hover {
    box-shadow: 0 0 5px var(--secondary),
    0 0 25px var(--secondary), 0 0 50px var(--secondary),
    0 0 100px var(--secondary), 0 0 200px var(--secondary);
}

.button:active {
    box-shadow: 0 0 0px 0.1 var(--third),
    0 0 25px var(--third), 0 0 50px var(--third),
    0 0 100px var(--third), 0 0 200px var(--third);
}

.button:visited {
    color: var(--third);
}