*{
    color: #000;
}

#logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: lightgreen;
}

#page-top{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    color: #fff;
    font-size: 50px;
}

.spanMovie{
    color: var(--secondary);
}